@charset "UTF-8";
/* federo-regular - latin */
@font-face {
  font-family: "Federo";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/federo-v19-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/federo-v19-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/federo-v19-latin-regular.woff2") format("woff2"), url("/fonts/federo-v19-latin-regular.woff") format("woff"), url("/fonts/federo-v19-latin-regular.ttf") format("truetype"), url("/fonts/federo-v19-latin-regular.svg#Federo") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("/fonts/open-sans-v34-latin-regular.woff") format("woff"), url("/fonts/open-sans-v34-latin-regular.ttf") format("truetype"), url("/fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/open-sans-v34-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/open-sans-v34-latin-600.eot?#iefix") format("embedded-opentype"), url("/fonts/open-sans-v34-latin-600.woff2") format("woff2"), url("/fonts/open-sans-v34-latin-600.woff") format("woff"), url("/fonts/open-sans-v34-latin-600.ttf") format("truetype"), url("/fonts/open-sans-v34-latin-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* potta-one-regular - latin */
@font-face {
  font-family: "Potta One";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/potta-one-v16-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/potta-one-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/potta-one-v16-latin-regular.woff2") format("woff2"), url("/fonts/potta-one-v16-latin-regular.woff") format("woff"), url("/fonts/potta-one-v16-latin-regular.ttf") format("truetype"), url("/fonts/potta-one-v16-latin-regular.svg#PottaOne") format("svg"); /* Legacy iOS */
}
.nav-inner .nav-label-inner a {
  font-family: "Potta One";
  font-style: normal;
  font-weight: 400;
}

.sellers__main .sellers__main-inner .sellers-img-wrap .sellers_item_price, .sellers .title_section_sellers .title_section-txt, .main_inner .main__title .main__name {
  font-family: "Federo";
  font-style: normal;
  font-weight: 400;
}

.sellers__main .sellers__main-inner .sellers__features .sellers__features-item, .sellers__main .sellers__main-inner .sellers-img-wrap .sellers_item_name, .main_inner .main__title .main__name-bt .main__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

.main_inner .main__title .main__name-bt .main__link:hover, .nav-inner .nav-bars-list a:hover, .nav-inner .nav-main-list .nav-main-item a:hover, .nav-inner .nav-label-inner a:hover {
  transition: 0.5s;
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  color: #161513;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
}

a {
  text-decoration: none;
  color: #161513;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} /*# sourceMappingURL=reset.css.map */
.wrapper {
  background: #ffffff;
  z-index: 10;
  position: relative;
}

._container {
  max-width: 1110px;
  height: 100%;
  margin: 0 auto;
  padding: 0 5px;
}

.nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: -0.035em;
  padding-top: 2.2522522523%;
}
.nav-inner .nav-label-inner a {
  font-size: calc(15px + 2vw);
  line-height: 144.7368421053%;
  letter-spacing: inherit;
  color: #565759;
  transition: 0.5s;
}
.nav-inner .nav-main-list {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 2vw;
}
.nav-inner .nav-main-list .nav-main-item a {
  color: #697391;
  letter-spacing: inherit;
  transition: 0.5s;
}
.nav-inner .nav-bars-list {
  display: flex;
  align-items: center;
  justify-content: stretch;
  gap: 2vw;
  transition: 0.5s;
}
.nav-inner .nav-bars-list a {
  transition: 0.5s;
}
.main {
  position: relative;
  z-index: 100;
}
.main::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 90%;
  top: 75%;
  right: 0;
  background-image: url(/img/bg_main_shifted.png);
  z-index: -10;
}

.main_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5.4054054054%;
  z-index: 100;
}
.main_inner .main__bg {
  flex: 0 1 50%;
}
.main_inner .main__bg .main_img {
  -o-object-fit: cover;
     object-fit: cover;
}
.main_inner .main__title {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  flex: 0 1 45%;
  gap: 2vw;
  min-height: 400px;
}
.main_inner .main__title .main__name {
  font-size: calc(20px + 2vw);
  line-height: 120%;
  color: #3a3a3a;
}
.main_inner .main__title .main__name-bt {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  width: 70%;
  background: #434343;
  border: none;
}
.main_inner .main__title .main__name-bt .main__link {
  margin: 0 auto;
  text-decoration: none;
  font-size: calc(8px + 0.5vw);
  line-height: 137.5%;
  padding: 8px 17px;
  text-transform: uppercase;
  letter-spacing: -0.035em;
  color: #ffffff;
}
.sellers {
  position: relative;
  z-index: 100;
}
.sellers .title_section_sellers {
  padding-top: 7.5675675676%;
  margin-bottom: 3.6936936937%;
}
.sellers .title_section_sellers .title_section-txt {
  text-align: center;
  font-size: calc(15px + 2vw);
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #3a3a3a;
}

.sellers__main {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vw;
}
.sellers__main .sellers__main-inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  gap: 1vw;
  flex: 0 1 23%;
  position: relative;
  padding: 6.3963963964% 0 2.2522522523% 0;
  background: #ffffff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.sellers__main .sellers__main-inner:nth-child(5), .sellers__main .sellers__main-inner:nth-child(6), .sellers__main .sellers__main-inner:nth-child(7) {
  flex: 1;
}
.sellers__main .sellers__main-inner:nth-child(5) .sellers__features, .sellers__main .sellers__main-inner:nth-child(6) .sellers__features, .sellers__main .sellers__main-inner:nth-child(7) .sellers__features {
  width: 19.8198198198%;
}
.sellers__main .sellers__main-inner:nth-child(2) .sellers__features, .sellers__main .sellers__main-inner:nth-child(3) .sellers__features, .sellers__main .sellers__main-inner:nth-child(6) .sellers__features {
  display: none;
}
.sellers__main .sellers__main-inner:nth-child(4) .sellers__features .discont {
  display: none;
}
.sellers__main .sellers__main-inner .sellers-img-wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  gap: 1vw;
  margin: 0 auto;
  text-align: center;
}
.sellers__main .sellers__main-inner .sellers-img-wrap .sellers-img-wrap {
  -o-object-fit: contain;
     object-fit: contain;
  height: 182px;
}
.sellers__main .sellers__main-inner .sellers-img-wrap .sellers_item_name {
  font-size: calc(8px + 0.5vw);
  line-height: 137.5%;
  letter-spacing: -0.035em;
  color: #2a2a2b;
}
.sellers__main .sellers__main-inner .sellers-img-wrap .sellers_item_price {
  font-size: calc(8px + 0.5vw);
  line-height: 137.5%;
  letter-spacing: 0.02em;
  color: #8c8c8c;
}
.sellers__main .sellers__main-inner .sellers__features {
  position: absolute;
  top: 5.045045045%;
  right: 0;
  width: 27.027027027%;
}
.sellers__main .sellers__main-inner .sellers__features .sellers__features-item {
  text-align: center;
  font-size: calc(8px + 0.5vw);
  line-height: 137.5%;
  letter-spacing: -0.035em;
  color: #ffffff;
}
.sellers__main .sellers__main-inner .sellers__features .special {
  background: #f29731;
  margin-bottom: 5px;
}
.sellers__main .sellers__main-inner .sellers__features .discont {
  background: #9e0b0f;
}
.sellers__main .sellers__main-inner .sellers__tools-list {
  position: absolute;
  bottom: 28.8288288288%;
  right: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  gap: 0.5vw;
}
.sellers__main .sellers__main-inner .sellers__tools-list .sellers__tools-item-wrap {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
}/*# sourceMappingURL=style.css.map */