@mixin flex($align, $justify-content) {
	display: flex;
	align-items: $align;
	justify-content: $justify-content;
}

@mixin fonts_propetiers($fonts-size, $line-height) {
	font-size: $fonts-size;
	line-height: $line-height;
}

%font_potta {
	font-family: "Potta One";
	font-style: normal;
	font-weight: 400;
}

%font_Federo {
	font-family: "Federo";
	font-style: normal;
	font-weight: 400;
}

%font_OpenSans_600 {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
}

%font_OpenSans_400 {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
}

%hover_icon {
	transition: 0.5s;
	opacity: 0.7;
}
